
<h1><%=@team[:name]%></h1>
<p>Team Motto: <%=@team[:motto] %></p>
<p>Hero Name: <%=@member_one[:name] %></p>
<p>Hero Power: <%=@member_one[:power] %></p>
<p>Hero Biography: <%=@member_one[:bio] %></p>
<p>Hero Name: <%=@member_two[:name] %></p>
<p>Hero Power: <%=@member_two[:power] %></p>
<p>Hero Biography: <%=@member_two[:bio] %></p>
<p>Hero Name: <%=@member_three[:name] %></p>
<p>Hero Power: <%=@member_three[:power] %></p>
<p>Hero Biography: <%=@member_three[:bio] %></p>
