

<h1><%= @name %></h1>
<h1>Team Motto: <%= @motto %></h1>
<h1>Hero Name: <%= @m1_name %></h1>
<h1>Hero Power: <%= @m1_power %></h1>
<h1>Hero Biography: <%= @m1_bio %></h1>
<h1>Hero Name: <%= @m2_name %></h1>
<h1>Hero Power: <%= @m2_power %></h1>
<h1>Hero Biography: <%= @m2_bio %></h1>
<h1>Hero Name: <%= @m3_name %></h1>
<h1>Hero Power: <%= @m3_power %></h1>
<h1>Hero Biography: <%= @m3_bio %></h1>
